{% extends 'base.html' %}
{% block title %}
Market Page
{% endblock %}

{% block content %}


<div class="mr-4 mt-2 ml-4 mb-2">
    <div class="row">
        <div class="col-8">
            <h2 class="mt-2"> All Available Items in the Market</h2>
            <p> click to buy </p>
            <br>
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <!-- Your Columns HERE -->
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Barcode</th>
                        <th scope="col">Price</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Your rows inside the table HERE: -->
                    {% for item in items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.barcode }}</td>
                        <td>{{ item.price }}$</td>
                        <td>
                            <button class=" btn btn-outline btn-info">More Info</button>
                            {% if item.owner != current_user.id %}
                            <button class="btn btn-outline btn-success">Purchase this Item</button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h2 class="mt-4"> Items Owned</h2>
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <!-- Your Columns HERE -->
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Barcode</th>
                        <th scope="col">Price</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Your rows inside the table HERE: -->
                    {% for item in items_owned_by_user %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.barcode }}</td>
                        <td>{{ item.price }}$</td>
                        <td>
                            <button class=" btn btn-outline btn-info">More Info</button>
                            <button class="btn btn-outline btn-success">sell this Item</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>


            <body class="text-center">
                <div class="container">
                    <div class="checkbox mb-3">
                        <a class="btn btn-lg btn-secondary" href="{{ url_for('additem_page') }}"> Add Item </a>
                    </div>
                </div>
            </body>

        </div>
        <div class="col-4"></div>
    </div>
</div>

<br>


{% endblock %}